.product {
    max-height: 400px;
    min-width: 100px;
    background-color: var(--white);
    margin: 10px;
    padding: 15px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product__box {
    height: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.product__title {
    font-size: clamp(14px, 2vw, 16px);
}

.product__star {
    max-width: 20px;
    transform: scale(1.3);
}

.product__price {
    margin-top: 5px;
    margin-bottom: 3px;
}

.product__image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__cta {
    background-color: var(--cta-background);
    border-color: var(--cta-border);
    border-radius: 8px;
    border: 1px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    padding: 6px;
}